name: CI with Security Scans

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build-test-sast-sca:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run unit tests
        run: |
          pytest || echo "No tests yet"

      - name: Run Bandit (SAST)
        run: |
          bandit -r . || true

      - name: Run pip-audit (SCA)
        run: |
          pip install pip-audit
          pip-audit || true
